body {
    color: #555;
}

.top-bar, .top-bar a {
    background-color: #074e68;
    color: #ffffff;
}

h1 {
    font-size: 1.4rem;
    font-weight: 700;
}

h2 {
    font-size: 1.4rem;
    font-weight: 700;
}

div#general-abstract {
    margin-bottom: 0.5rem;
    margin-top: 2rem;
}

div#hot, div#foss4g, div#sotm, div#hackday {
    padding: 0.7rem;
    text-align: justify;
}

div#hot {
    background-color: #dcd8d6;
}

div#foss4g {
    background-color:#b3ffcf;
}

div#sotm {
    background-color: #b3e3ff;
}

div#hackday {
    background-color: #ffb3bd;
}

.bottom-bar {
    padding: 0.5rem;
    background-color: #efe8e6;
    margin-top: 2rem;
    text-decoration: 700;
}

#hackday, #sotm, #foss4g, #hot {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

#hackday-title {
    color: #003;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    text-align: center;
}

#hackday-title h2 {
    color: #F66;
}
