body {
    color: #555;
}

.top-bar, .top-bar a {
    background-color: #074e68;
    color: #ffffff;
}

h1 {
    font-size: 1.4rem;
    font-weight: 700;
}

h2 {
    font-size: 1.4rem;
    font-weight: 700;
}

div#general-abstract {
    margin-bottom: 0.5rem;
    margin-top: 2rem;
}

div#general-abstract, div#event-presentation {
    margin-left: 1rem;
    margin-right: 1rem;
}

div#hot, div#foss4g, div#sotm, div#hackday, div#mapathon {
    padding: 0.7rem;
    text-align: justify;
}

div#hot {
    background-color: #D8D8D8;
    blop: #dcd8d6;
}

div#mapathon {
    background-color:#FFDBAF;
}

div#foss4g {
    background-color: #C2FFAF;
    blop: #b3ffcf;
}

div#sotm {
    background-color: #B3E3FF;
}

div#hackday {
    background-color: #FFAFBA;
    blop: #ffb3bd;
}

.bottom-bar {
    padding: 0.5rem;
    background-color: #efe8e6;
    margin-top: 2rem;
    text-decoration: 700;
}

#hackday-title {
    color: #003;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    text-align: center;
}

#hackday-title h2 {
    color: #F66;
}
